html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.9em;
}
form {
  width: 20%;
  text-align: center;
}
.form-elem {
  padding: 5px;
}
.text-input {
  width: 100%;
}
.form-div {
  display: flex;
  justify-content: center;
}
.req label {
  color: red;
}
